<html>
    <head>
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
		<div id = "title">Tic Tac Toe</div>
		<div id = "subtitle">Multiplayer Edition</div>
		<form action = "/game">
			<input type = "submit" class = "actionBtn btn btn-info" value = "Random" id = "findRandomGameBtn">
		</form>
    </body>
</html>
