form{
	margin: 0px;
	padding: 0px;
}

table {
	margin: 20px auto;
}

#title{
	text-align: center;
	font-size: 250%;
	color: #77aaff;
	font-weight: 900;
}

#subtitle{
	font-size: 150%;
	margin: none;
	padding: none;
	text-align: center;
	color: #ff77aa;
	font-weight: 900;
}

#gameInfo{
	margin: 20px;
	text-align: center;
	font-size: 150%;
}

.box{
	font-size: 15vh;
	font-weight: bold;
	text-align: center;
	width: 18vh;
	height: 18vh;
}

#gameState{
	font-weight: bold;
}

.yourTurn{
	font-weight: bold;
}

.notYourTurn{
	opacity: .4
}

.playerX{
	color: #ff77aa;
}

#XTag{
	color: #ff77aa;
	font-weight: bold;
}

#tieTag{
	font-weight: bold;
}

#OTag{
	color: #77aaff;
	font-weight: bold;
}

.playerO{
	color: #77aaff;
}

#scoreTitle{
	text-align: center;
}

.score{
	margin: 20px;
	text-align: center;
	font-size: 150%;
	height: 5vh;
	width: 18vh;
}

.startChoiceBtn{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 400px;
	height: 75px;
	font-size: 200% !important;
	background-color: #77aaff;
}

.menuBtn{
	display: block;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	background-color: #ff77aa !important;
	font-size: 150% !important;
	border: #e56b99 !important;	
}

.menuBtn:hover{
	background-color: #e56b99 !important;
}

.menuBtn:active{
	background-color: #e56b99 !important;
}

.menuBtn:visited{
	background-color: #e56b99 !important;
}

.actionBtn{
	display: block;
	margin: auto;
	width: 40vh;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #77aaff;
	font-size: 100% !important;
	outline: none !important;
}

#scoreBoard{
	margin-top: 20px;
}

.panel{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 400px;
}

form{
	margin: none;
	padding: none;
}

.gameDesc{
	position: relative;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

.divider{
	height: 60px;
}

#enterCodeLabel{
	display: block;
	text-align: center;
	font-size: 200%;
}

#gameCodeInput{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 150%;
	height: auto;
	width: 100%;
	text-align: center;
}

.startScreenX{
	font-size: 150%;
}

#loadingContainer{
	top: 0%;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#searchingText{
	font-size: 150%;
	width: 100%;
	position: absolute;
	top: 20%;
	font-weight: bold;
	text-align: center;
}

.menuBtnContainer{
	position: absolute;
	top: 80%;
	width: 100%;
}

.loadingMenuBtn{
	
}

#searchState{
	display: inline;
}

#gameContainer{
	display: none;
}
