

table {
	margin: auto;
}

#title{
	text-align: center;
	font-size: 400%;
	color: #77aaff;
	font-weight: 900;
}

#subtitle{
	font-size: 250%;
	margin: none;
	padding: none;
	text-align: center;
	color: #ff77aa;
	font-weight: 900;
}

#gameInfo{
	margin: 20px;
	text-align: center;
	font-size: 200%;
}

.box{
	font-size: 15vh;
	font-weight: bold;
	text-align: center;
	width: 18vh;
	height: 18vh;
}

#gameState{
	font-weight: bold;
}

.yourTurn{
	font-weight: bold;
}

.notYourTurn{
	opacity: .4
}

.playerX{
	color: #ff77aa;
}

#XTag{
	color: #ff77aa;
	font-weight: bold;
}

#tieTag{
	font-weight: bold;
}

#OTag{
	color: #77aaff;
	font-weight: bold;
}

.playerO{
	color: #77aaff;
}

#scoreTitle{
	text-align: center;
}

.score{
	text-align: center;
	font-size: 200%;
	height: 5vh;
	width: 18vh;
}


.actionBtn{
	display: block;
	margin: auto;
	width: 40vh;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #77aaff;
	font-size: 100% !important;
	outline: none !important;
}

#scoreBoard{
	margin-top: 20px;
}
