

table {
	margin: auto;
}

#title{
	text-align: center;
}

#gameInfo{
	text-align: center;
	font-size: 150%;
}

.box{
	font-size: 15vh;
	font-weight: bold;
	text-align: center;
	width: 20vh;
	height: 20vh;
}

.playerX{
	color: #FE4365;
}

.playerO{
	color: #83AF9B;
}

#rematchButton{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: 40vh;
	margin: auto;
}

#scoreTitle{
	text-align: center;
}

.score{
	text-align: center;
	font-size: 150%;
	height: 5vh;
	width: 15vh;
}
